{
  "IsEnabled": true,
  "EngineConfiguration": {
    "PollInterval": "00:00:05",
    "Components": [
      {
        "FullName": "AWS.EC2.Windows.CloudWatch.EventLog.EventLogInputComponent,AWS.EC2.Windows.CloudWatch",
        "Id": "ApplicationEventLog",
        "Parameters": {
          "Levels": "7",
          "LogName": "Application"
        }
      },
      {
        "FullName": "AWS.EC2.Windows.CloudWatch.EventLog.EventLogInputComponent,AWS.EC2.Windows.CloudWatch",
        "Id": "SystemEventLog",
        "Parameters": {
          "Levels": "7",
          "LogName": "System"
        }
      },
      {
        "FullName": "AWS.EC2.Windows.CloudWatch.EventLog.EventLogInputComponent,AWS.EC2.Windows.CloudWatch",
        "Id": "SecurityEventLog",
        "Parameters": {
          "Levels": "7",
          "LogName": "Security"
        }
      },
      {
        "FullName": "AWS.EC2.Windows.CloudWatch.EventLog.EventLogInputComponent,AWS.EC2.Windows.CloudWatch",
        "Id": "ETW",
        "Parameters": {
          "Levels": "7",
          "LogName": "Microsoft-Windows-WinINet/Analytic"
        }
      },
      {
        "FullName": "AWS.EC2.Windows.CloudWatch.PerformanceCounterComponent.PerformanceCounterInputComponent,AWS.EC2.Windows.CloudWatch",
        "Id": "PerfCountMemoryAvail",
        "Parameters": {
          "CategoryName": "Memory",
          "CounterName": "Available MBytes",
          "InstanceName": "",
          "MetricName": "Available Memory",
          "Unit": "Megabytes",
          <% if @ec2tag_autoscaling_group_name == "instance_only"  %>
            "DimensionName": "InstanceId",
            "DimensionValue": "{instance_id}"
          <% else %>
            "DimensionName": "AutoScalingGroupName",
            "DimensionValue": "<%= @ec2tag_autoscaling_group_name %>"
          <% end %>

        }
      },
      {
        "Id": "PerfCountMemoryUtil",
        "FullName": "AWS.EC2.Windows.CloudWatch.PerformanceCounterComponent.PerformanceCounterInputComponent,AWS.EC2.Windows.CloudWatch",
        "Parameters": {
          "CategoryName": "Memory",
          "CounterName": "% Committed Bytes In Use",
          "InstanceName": "",
          "MetricName": "Memory Utilization",
          "Unit": "Percent",

          <% if @ec2tag_autoscaling_group_name == "instance_only"  %>
            "DimensionName": "InstanceId",
            "DimensionValue": "{instance_id}"
          <% else %>
            "DimensionName": "AutoScalingGroupName",
            "DimensionValue": "<%= @ec2tag_autoscaling_group_name %>"
          <% end %>

        }
      },


      <% @drives.each do |key, hash| -%>

      {
        "Id": "PerfCountDiskSpace<%= hash['name'] %>",
        "FullName": "AWS.EC2.Windows.CloudWatch.PerformanceCounterComponent.PerformanceCounterInputComponent,AWS.EC2.Windows.CloudWatch",
        "Parameters": {
          "CategoryName": "LogicalDisk",
          "CounterName": "% Free Space",
          "InstanceName": "<%= hash['name'] %>:",
          "MetricName": "<%= hash['name'] %> Drive Free Space",
          "Unit": "Percent",
          <% if @ec2tag_autoscaling_group_name == "instance_only"  %>
            "DimensionName": "InstanceId",
            "DimensionValue": "{instance_id}"
          <% else %>
            "DimensionName": "AutoScalingGroupName",
            "DimensionValue": "<%= @ec2tag_autoscaling_group_name %>"
          <% end %>

        }
      },

      <% end -%>


      {
        "Id": "CloudWatchLogs1",
        "FullName": "AWS.EC2.Windows.CloudWatch.CloudWatchLogsOutput,AWS.EC2.Windows.CloudWatch",
        "Parameters": {
          "Region": "eu-west-1",
          "LogGroup": "/windows/eventlog/application",
          "LogStream": "{instance_id}"
        }
      },
      {
        "Id": "CloudWatchLogs2",
        "FullName": "AWS.EC2.Windows.CloudWatch.CloudWatchLogsOutput,AWS.EC2.Windows.CloudWatch",
        "Parameters": {
          "Region": "eu-west-1",
          "LogGroup": "/windows/eventlog/security",
          "LogStream": "{instance_id}"
        }
      },
      {
        "Id": "CloudWatchLogs3",
        "FullName": "AWS.EC2.Windows.CloudWatch.CloudWatchLogsOutput,AWS.EC2.Windows.CloudWatch",
        "Parameters": {
          "Region": "eu-west-1",
          "LogGroup": "/windows/eventlog/system",
          "LogStream": "{instance_id}"
        }
      },
      {
        "Id": "CloudWatchLogs4",
        "FullName": "AWS.EC2.Windows.CloudWatch.CloudWatchLogsOutput,AWS.EC2.Windows.CloudWatch",
        "Parameters": {
          "Region": "eu-west-1",
          "LogGroup": "/windows/eventlog/ETW",
          "LogStream": "{instance_id}"
        }
      },
      {
        "Id": "CloudWatch",
        "FullName": "AWS.EC2.Windows.CloudWatch.CloudWatch.CloudWatchOutputComponent,AWS.EC2.Windows.CloudWatch",
        "Parameters": {
          "Region": "eu-west-1",
          "NameSpace": "AWS/EC2"
        }
      }
    ],
    "Flows": {
      "Flows": [
        "(ApplicationEventLog),CloudWatchLogs1",
        "(SecurityEventLog),CloudWatchLogs2",
        "(SystemEventLog),CloudWatchLogs3",
        "(ETW),CloudWatchLogs4",
        "(PerfCountMemoryAvail, PerfCountMemoryUtil<% @drives.each do |key, hash| -%> ,PerfCountDiskSpace<%= hash['name'] %> <% end -%>),CloudWatch"
      ]
    }
  }
}
